.advantages {
  display: flex;

  &__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__block {
    display: flex;
  justify-content: center;
  background: $color-bg-light;
  border-radius: 4px;
  margin-bottom: 30px;
  }

  &__icon {
    width: 270px;
  height: 120px;
  padding: 25px 100px;
  }

  &__title {
    font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-dark-grey;
  }
}