.hero {
  text-align: center;
  background-color: $color-bg-dark;

  &__bg {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/bg.jpg');
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  }

  &__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-white;
    margin: 0px auto 30px auto;
    padding-top: 200px;
  }
}
.order-button {
  padding: 10px 32px;
  background-color: $color-accent;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $color-white;

  &:hover {
  cursor: pointer;
}
}

